@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataTable

<div class="app-main__inner">
    <div class="tabs-animation">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize fw-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"></i>
                    City Filter
                </div>
            </div>
            <div class="card-body">
                <form asp-area="City" asp-controller="LOC_City" asp-action="LOC_CityList">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label" for="country">Country Name</label>
                            <input class="form-control" name="countryName" type="text" placeholder="Country Name" data-sb-validations="required" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="statename">State Name</label>
                            <input class="form-control" name="statename" type="text" placeholder="State Name" data-sb-validations="required" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="cityname">City Name</label>
                            <input class="form-control" name="cityName" type="text" placeholder="City Name" data-sb-validations="required" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="citycode">City Code</label>
                            <input class="form-control" name="cityCode" type="text" placeholder="City Code" data-sb-validations="required" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success">Apply</button>
                            <button class="btn btn-danger">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize fw-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"></i>
                    City List
                </div>
                <div class="btn-actions-pane-right">
                    <a asp-area="City" asp-controller="LOC_City" asp-action="LOC_CityAddEdit" class="btn btn-success m-3"> Add New City </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
                        <table class="table">
                            <thead>
                            <th>City Name</th>
                            <th>State Name</th>
                            <th>Country Name</th>
                            <th>City Code</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Rows.Count > 0)
                                    {
                                        foreach (DataRow dr in Model.Rows)
                                        {
                                            <tr>
                                                <td>@dr["CityName"]</td>
                                                <td>@dr["StateName"]</td>
                                                <td>@dr["CountryName"]</td>
                                                <td>@dr["CityCode"]</td>
                                                <td>
                                                    <form asp-area="City" asp-controller="LOC_City" asp-action="CityDelete">
                                                        <input type="hidden" name="cityId" value="@dr["CityID"]" />
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                        <a class="btn btn-primary" asp-area="City" asp-controller="LOC_City" asp-action="editCity" asp-route-cityId="@dr["CityID"]">Edit</a>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                @*<tr>
                                    <td>Rajkot</td>
                                    <td>Gujrat</td>
                                    <td>India</td>
                                    <td>RAJ</td>
                                    <td><a class="btn btn-danger">DELETE</a> <a class="btn btn-primary">Edit</a> </td>
                                </tr>
                                <tr>
                                    <td>Rajkot</td>
                                    <td>Gujrat</td>
                                    <td>India</td>
                                    <td>RAJ</td>
                                    <td><a class="btn btn-danger">DELETE</a> <a class="btn btn-primary">Edit</a> </td>
                                </tr>
                                <tr>
                                    <td>Rajkot</td>
                                    <td>Gujrat</td>
                                    <td>India</td>
                                    <td>RAJ</td>
                                    <td><a class="btn btn-danger">DELETE</a> <a class="btn btn-primary">Edit</a> </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>