@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataTable dt = ViewData["Table"] as DataTable;
}
@model StudentProject.Areas.State.Models.LOC_StateModel

<div class="app-main__inner">
    <div class="tabs-animation">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize fw-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"></i>
                    State Filter
                </div>
            </div>
            <div class="card-body">
                <form asp-area="State" asp-controller="LOC_State" asp-action="LOC_StateList">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="country">Country</label>
                            <select class="form-control form-select" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                                <option value="0" selected>Select Country</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="stateName">State Name</label>
                            <input class="form-control" asp-for="StateName" type="text" placeholder="State Name" data-sb-validations="required" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="stateCode">State Code</label>
                            <input class="form-control" asp-for="StateCode" type="text" placeholder="State Code" data-sb-validations="required" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success">Apply</button>
                            <button class="btn btn-danger">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize fw-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"></i>
                    State List
                </div>
                <div class="btn-actions-pane-right">
                    <a asp-area="State" asp-controller="LOC_State" asp-action="LOC_StateAddEdit" class="btn btn-success m-3"> Add New State </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
                        <table class="table">
                            <thead>
                            <th>Country Name</th>
                            <th>State Name</th>
                            <th>State Code</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                                @{
                                    if (dt.Rows.Count > 0)
                                    {
                                        foreach (DataRow dr in dt.Rows)
                                        {
                                            <tr>
                                                <td>@dr["CountryName"]</td>
                                                <td>@dr["StateName"]</td>
                                                <td>@dr["StateCode"]</td>
                                                <td>
                                                    <form asp-area="State" asp-controller="LOC_State" asp-action="StateDelete">
                                                        <input type="hidden" name="stateId" value="@dr["StateID"]" />
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                        <a class="btn btn-primary" asp-area="State" asp-controller="LOC_State" asp-action="LOC_StateAddEdit" asp-route-stateId="@dr["StateID"]"> Edit </a>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>